.footer-icons i{
   color: red;
   margin-right: 10px;
}
.footer-cont{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 50px;
    border-top: 1px solid gray;
}
.contact-info i{
    color: red;
    text-transform: lowercase;
}
.links a{
    color: red;
}
.letter input{
    width: 100%;
    color: gray;
    border: 1px solid gray;
}
.letter button{
    padding: 5px 30px;
    border: 2px solid red;
    color: red;
    margin: 20px 0;
    border-radius: 10px;
}
.letter img{
    width: 60px;
}