.bg-image{
    background-image: url("https://img.freepik.com/premium-photo/organic-food-vegetables-basket_135427-2728.jpg");
    width: 100%;
    height: 65vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}