.products-pic img{
    width: 200px;
}
.products-pic1 img{
    width: 300px;
}
.icons span{
    background-color: red;
    
}
.products-pic:hover{
    border: 2px solid black;
    margin: 20px 0;
}
.products-pic1:hover{
    border: 2px solid black;
    margin: 20px 0;
}